.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.menu-button{
  display:none;
}

@media (max-width:900px){
  .navbar {
    flex-wrap: wrap;
    row-gap: 8px;
  }

  .navbar > div:last-child {
    margin-left: auto;
  }

  .menu-button{
    display:block;
  }
}